body{
  margin:0;
  background:#0b1220;
  font-family: Arial, sans-serif;
  color:#fff;
}

.mainContent{
  background:#111a33;
}
.header{
  display: flex;
  justify-items: center;
  justify-content: space-between;
  width:1080px;
  margin: 0 auto;
}
.headderImage img{
  width: 200px;
}
.headerText h1{
  text-align:center;
  padding:15px;
  font-size:28px;
  font-weight:bold;
}

.container{
  width:1080px;
  max-width:95%;
  margin:0 auto;
  padding-top: 20px;
  padding-bottom: 50px;
}

/* flex wrapper for seats */
#seats{
  display:flex;
  flex-wrap:wrap;
  gap:20px; /* space between seats */
  justify-content:space-between;
}

/* individual seat box */
.seat{
  width:calc(50% - 10px); /* 2-column layout */
  background:#141e3a;
  border-radius:16px;
  padding:15px;
  box-sizing:border-box; /* important for width calculation */
}

.seat-title{
  font-size:22px;
  margin-bottom:10px;
  border-bottom:1px solid #2a3b6e;
}

/* candidates styling */
.candidate{
  display:flex;
  align-items:center;
  gap:10px;
  background:rgba(255,255,255,0.05);
  padding:10px;
  border-radius:12px;
  margin-bottom:8px;
}

.candidate.leader{
  border:2px solid #2aff2a;
  box-shadow:0 0 10px rgba(42,255,42,.9);
}



/* photo wrapper */
.photo{
  width:70px;
  height:70px;
  border-radius:50%;
  background:white;
  display:flex;
  justify-content:center;
  align-items:center;
  overflow:hidden;
  margin-bottom:8px;
}

.photo img{
  width:100%;
  height:100%;
  object-fit:cover;
}

.info{
  flex:1;
}

.name{
  font-size:16px;
  font-weight:bold;
}

.party{
  font-size:13px;
  opacity:.8;
}

.symbol{
  font-size:13px;
}

.votes{
  font-weight:bold;
  font-size:18px;
}

.bar{
  height:6px;
  background:#333;
  border-radius:10px;
  overflow:hidden;
  margin-top:5px;
}

.fill{
  height:100%;
  background:linear-gradient(90deg,#00ff99,#00ccff);
}

#top2Btn{
  margin-top: 5px;
  padding: 10px;
  background-color: #2aff2a;
  border-radius: 10px;
  color: white;
}

@media(max-width:768px){
  .seat{
    width:100%; /* mobile single column */
  }
}
